* {
  box-sizing: border-box;
}

body {
  width: 1060px;
  height: 100%;
  margin: 30px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: wheat;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

h1 {
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.75rem;
  font-weight: bolder;
  color: dodgerblue;
  border-bottom: 5px double;
  padding-bottom: 1rem;
}

#imageSection {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border: 5px solid maroon;
  border-radius: 5px;
  padding: 3rem 0;
}

#imageSection img {
  width: 30%;
  border: 5px solid lightslategray;
  border-radius: 5px;
  max-width: 240px;
  max-height: 280px;
}

#imageSection img:hover {
  cursor: pointer;
  border-color:red;
}

.fa-bus {
  font-size: 3rem;
  border-bottom: 5px double;
  padding-bottom: 1rem;
  font-weight: bolder;
  color: dodgerblue;
}

section {
  display: flex;
  justify-content: space-between;
}

#productCharts,
#extraCharts {
  width: 80%;
  height: 25%;
  margin: 30px;
  border: 5px solid transparent;
}

#extraCharts {
  margin-top: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
  border: 5px solid maroon;
  border-radius: 5px;
  margin: 30px 0;
}

button {
  padding: 1rem 1.5rem;
  background-color:aliceblue;
  color: dodgerblue;
  font-size: 1.25rem;
  border: 2px solid lightslategray;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  font-weight: bold;
}

#oldDoughnut, 
#oldLine {
  text-decoration: line-through;
  background-color: rgba(128, 128, 128, 0.513);
  color: grey;
  padding: .5rem;
}

#oldDoughnut:hover,
#oldLine:hover {
  cursor: not-allowed;
  font-weight: lighter;
}

