* {
  box-sizing: border-box;
}

body {
  width: 1000px;
  height: 100vh;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 20% 1fr 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 10%;
}

header {
  grid-column: 1/5;
  display: flex;
  align-items: center;
}

#results {
  grid-column: 1/2 ;
  grid-row: 2/4;
}

#images {
  grid-column: 2/5;
  grid-row: 2/3;
}
article {
  grid-column: 2/5;
  grid-row: 3/4;
}

div button {
  grid-row: 3/4;
}
footer {
  grid-column: 1/5;
  grid-row: 4/5;
}